{% extends "WinkMurderGameBundle:Layout:_base.html.twig" %}

{% block pageTitle %}{{ 'exception.error.pageTitle' | trans }}{% endblock %}
{% block bodyClass %}error{% endblock %}

{% block content %}
    <div class="centered">
        <h1>{{ 'exception.error.heading' | trans }}</h1>
        <p>{{ 'exception.error.text' | trans }}</p>
    </div>
{% endblock %}

{% block footer %}
    <div data-role="footer" data-id="player" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="{{ path('winkmurder_game_locale_set', {'_locale': otherLocale}) }}" data-ajax="false" class="lang-switch">{{ ('language.' ~ otherLocale) | trans }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}