{% extends "WinkMurderGameBundle:Layout:base.html.twig" %}

{% block pageTitle %}{{ 'profile.show.pageTitle' | trans }}{% endblock %}

{% block body %}
    <div class="user-profile">
        <img src="{{ player.photo.url }}" alt="{{ player.photo.title }}" width="50" class="profile-thumb" />
        <p class="salutation">{{ 'profile.show.heading' | trans({'%name%': player.name}) }}</p>

        <div class="manner-of-death">
            <div>{{ 'profile.show.mannerOfDeath.name' | trans}}</div>
            <div class="jollylodger type-huge">{{ player.mannerOfDeath.name }}</div>
        </div>

    {#
    <div>
        {{ 'profile.show.mannerOfDeath.briefing' | trans }}<br />
        {{ player.mannerOfDeath.briefing | nl2br }}
    </div>
    #}

    </div>

    {% include "WinkMurderGameBundle:Locale:_switch.html.twig" %}
{% endblock %}