{% extends "WinkMurderGameBundle:Layout:base.html.twig" %}

{% block pageTitle %}{{ 'profile.show.pageTitle' | trans }}{% endblock %}

{% block body %}
    <h2>{{ 'profile.show.heading' | trans({'%name%': player.name}) }}</h2>
    <div><img src="{{ player.photo.url }}" alt="{{ player.photo.title }}" /></div>
    <div>{{ 'profile.show.mannerOfDeath.name' | trans({'%name%': player.mannerOfDeath.name}) }}</div>
    <div>
        {{ 'profile.show.mannerOfDeath.briefing' | trans }}<br />
        {{ player.mannerOfDeath.briefing | nl2br }}
    </div>

    {% include "WinkMurderGameBundle:Locale:_switch.html.twig" %}
{% endblock %}