{% extends "WinkMurderGameBundle:Layout:base.html.twig" %}


{% block pageTitle %}{{ 'account.login.pageTitle' | trans }}{% endblock %}

{% block body %}
    {% if game %}
        <h1>{{ 'account.login.heading' | trans }}</h1>
        <div>
            {% if game.unusedPhotos %}
                <ul class="player-list">
                {% for photo in game.unusedPhotos %}
                    <li class="player"><a href="{{ path('winkmurder_game_account_logincheck', {id: photo.id}) }}" data-ajax="false">
                        <div class="player-wrapper">
                            <img class="player-thumb" src="{{ photo.url }}" alt="{{ photo.title }}"  width="50" />
                            <h3 class="player-name">{{ photo.title }}</h3>
                        </div>
                    </a></li>
                {% endfor %}
                </ul>
            {% else %}
                {{ 'account.login.noPlayersLeft' | trans }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}