{% extends "WinkMurderGameBundle:Common:Layout/_administration.html.twig" %}

{% block pageTitle %}{{ 'mannerofdeath.index.heading' | trans }}{% endblock %}

{% block content %}
    <form action="{{ path('winkmurder_game_mannerofdeath_create') }}" method="post" data-ajax="false">
        <div data-role="fieldcontain">
            {{ form_row(form.name_en) }}
        </div>
        <div data-role="fieldcontain">
            {{ form_row(form.name_de) }}
        </div>
        <input type="submit" value="{{ 'mannerofdeath.index.form.submit' | trans }}" data-inline="true" />
    </form>
    <div><a href="{{ path('winkmurder_game_mannerofdeath_index') }}" data-role="button" data-ajax="false" data-inline="true">{{ 'mannerofdeath.index.back' | trans }}</a></div>
{% endblock %}