<!DOCTYPE html>
<html>
    <head>
        <title>{% block pageTitle %}{% endblock %} - Wink Murder</title>
        {% stylesheets
            'bundles/winkmurdergame/scss/screen.scss'
            filter="compass,cssrewrite"
            output="css/screen.css"
        %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}
    </head>
    <body>
        <ul>
            <li><a href="{{ path('winkmurder_game_status_show') }}">Game</a></li>
            <li><a href="{{ path('winkmurder_game_player_index') }}">The others</a></li>
            <li><a href="{{ path('winkmurder_game_profile_show') }}">You</a></li>
            <li><a href="{{ path('winkmurder_game_rules_show') }}">Rules</a></li>
            {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('winkmurder_game_administration_index') }}">Administration</a></li>{% endif %}
        </ul>
        <h1>{{ block('pageTitle') }}</h1>
        {% block body %}{% endblock %}
    </body>
</html>