<!DOCTYPE html>
<html>
    <head>
        <title>{% block pageTitle %}{% endblock %} - Wink Murder</title>
        {% stylesheets
            'bundles/winkmurdergame/scss/screen.scss'
            filter="compass,cssrewrite"
            output="css/screen.css"
        %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}
    </head>
    <body>
        {% if app.user %}
            <ul>
                <li><a href="{{ path('winkmurder_game_welcome_index') }}">Zur Startseite</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('winkmurder_game_player_index') }}">Spieler verwalten</a></li>
                {%  endif %}
                <li><form action="{{ path('winkmurder_game_authentication_logout') }}" method="post"><div><input type="submit" value="Logout" /></div></form></li>
            </ul>
        {% endif %}
        <h1>{{ block('pageTitle') }}</h1>
        {% block body %}{% endblock %}
    </body>
</html>