<!DOCTYPE html>
<html>
    <head>
        <title>{% block pageTitle %}{% endblock %} - Wink Murder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        {% stylesheets
            'bundles/winkmurdergame/scss/screen.scss'
            filter="compass,cssrewrite"
            output="css/screen.css"
        %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}
    </head>
    <body>
        <div data-role="page">
            {% if app.user %}
                <div data-role="header">
                    {% if is_granted('ROLE_ADMIN') %}
                        <h1>Administration</h1>
                        <a href="{{ path('winkmurder_game_authentication_logout') }}" data-ajax="false" data-role="button" class="ui-btn-right" data-icon="delete">Logout</a>
                    {% else %}
                        <div data-role="navbar">
                            <ul>
                                <li><a href="{{ path('winkmurder_game_game_status') }}" data-ajax="false">Game</a></li>
                                <li><a href="{{ path('winkmurder_game_player_index') }}" data-ajax="false">The others</a></li>
                                <li><a href="{{ path('winkmurder_game_profile_show') }}" data-ajax="false">You</a></li>
                                <li><a href="{{ path('winkmurder_game_rules_show') }}" data-ajax="false">Rules</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div data-role="content">
                {% block body %}{% endblock %}
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    </body>
</html>