<!DOCTYPE html>
<html>
    <head>
        <title>{% block pageTitle %}{% endblock %} - Wink Murder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        {% stylesheets
            'bundles/winkmurdergame/scss/screen.scss'
            filter="compass,cssrewrite"
            output="css/screen.css"
        %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}
    </head>
    <body>
        <div data-role="page">
            <div data-role="header">
            {% if app.user %}
                <div data-role="navbar">
                    <ul>
                        <li><a href="{{ path('winkmurder_game_status_show') }}" data-ajax="false">Game</a></li>
                        <li><a href="{{ path('winkmurder_game_player_index') }}" data-ajax="false">The others</a></li>
                        <li><a href="{{ path('winkmurder_game_profile_show') }}" data-ajax="false">You</a></li>
                        <li><a href="{{ path('winkmurder_game_rules_show') }}" data-ajax="false">Rules</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('winkmurder_game_administration_index') }}">Administration</a></li>
                            <li><a href="{{ path('winkmurder_game_authentication_logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            </div>
            <div data-role="content">
                <h1>{{ block('pageTitle') }}</h1>
                {% block body %}{% endblock %}
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    </body>
</html>