{% extends "WinkMurderGameBundle:Layout:_game.html.twig" %}

{% block pageTitle %}{{ 'game.status.pageTitle' | trans }}{% endblock %}

{% block content %}
    {% if game.latestMurder and not game.latestMurder.isClearedUp %}
        <div class="centered">
            {% if game.latestMurder.victim is sameas(app.user.player) %}
                <p class="imfellsc type-big mrgn-btm-12">{{ 'game.latestMurder.headingVictim' | trans }}</p>
            {% else %}
                <img src="{{ game.latestMurder.victim.photo.url }}" alt="{{ game.latestMurder.victim.photo.title }}" width="60" class="profile-thumb" />
                <p class="imfellsc type-big mrgn-btm-12">{{ 'game.latestMurder.heading' | trans({'%victim%': game.latestMurder.victim.name}) }}</p>
            {% endif %}
            <p class="mrgn-top-12 mrgn-btm-24 centered type-small">&#9830;</p>
        </div>
    {% endif %}
{% endblock %}