{% extends "WinkMurderGameBundle:Layout:_game.html.twig" %}

{% block pageTitle %}{{ 'game.status.murdererLost.pageTitle' | trans }}{% endblock %}

{% block content %}
    <div class="centered mrgn-btm-24">
        <p class="type-big imfellsc mrgn-top-24 mrgn-btm-24">{{ 'game.status.murdererLost.heading' | trans }}</p>
        <img src="{{ game.murderer.photo.url }}" alt="{{ game.murderer.photo.title }}" width="60" class="profile-thumb" />
        <p class="type-huge highlighted jollylodger">{{ 'game.status.murdererLost.convict' | trans({'%murderer%': game.murderer.name}) }}</p>
    </div>
    {% include "WinkMurderGameBundle:Game:_mostPopularDeath.html.twig" %}
{% endblock %}