{% extends "WinkMurderGameBundle:Layout:base.html.twig" %}
{% use "WinkMurderGameBundle:Layout:autorefresh.html.twig" %}

{% block pageTitle %}{{ 'game.status.pageTitle' | trans }}{% endblock %}

{% block body %}
    {% if game.latestMurder %}
        <div class="centered">
        {% if not game.latestMurder.isClearedUp %}
            {% if game.latestMurder.victim is sameas(app.user.player) %}
                <p class="imfellsc type-big mrgn-btm-12">{{ 'game.status.latestMurder.headingVictim' | trans }}</p>
                <p>{{ 'game.status.latestMurder.noSuspicionByDead' | trans }}</p>
                <p class="mrgn-top-24 mrgn-btm-24">— • —</p>
            {% else %}
                <img src="{{ game.latestMurder.victim.photo.url }}" alt="{{ game.latestMurder.victim.photo.title }}" width="60" class="profile-thumb" />
                <p class="imfellsc type-big mrgn-btm-24">{{ 'game.status.latestMurder.heading' | trans({'%victim%': game.latestMurder.victim.name}) }}</p>
                <p>{{ 'game.status.latestMurder.mannerOfDeathLeading' | trans }}</p>
                <div class="jollylodger type-huge mrgn-btm-36">{{ game.latestMurder.victim.mannerOfDeath.name }}</div>
            {% endif %}
        {% endif %}
        </div>

        {% if game.latestMurder.arePreliminaryProceedingsDiscontinued %}
            {# brauchen wir m. M. nach nicht -sb
                <p>{{ 'game.status.latestMurder.preliminaryProceedingsDiscontinued' | trans }}</p>
            #}

            {% if game.latestMurder.isClearedUp %}
                <div class="centered">
                    <p class="type-big imfellsc mrgn-top-24 mrgn-btm-36">{{ 'game.status.latestMurder.clearedUp.heading' | trans }}</p>
                    <img src="{{ game.murderer.photo.url }}" alt="{{ game.murderer.photo.title }}" width="60" class="profile-thumb" />
                    <p class="type-huge jollylodger">{{ 'game.status.latestMurder.clearedUp.convict' | trans({'%murderer%': game.murderer.name}) }}</p>
                </div>
            {% else %}
                <h1 class="centered">{{ 'game.status.latestMurder.notClearedUp' | trans }}</h1>
            {% endif %}
        {% else %}
            {% if game.latestMurder.victim is not sameas(app.user.player) %}
                <div class="centered mrgn-btm-36">
                    <p data-end-of-preliminary-proceedings="{{ game.endOfPreliminaryProceedings.format('U') }}" class="fx-end-of-preliminary-proceedings">
                        <span class="type-big imfellsc">{{ 'game.status.latestMurder.endOfPreliminaryProceedings' | trans({'%end%': game.endOfPreliminaryProceedings.format('d.m.Y H:i:s')}) }}</span>
                    </p>
                </div>
                {% if app.user.player.hasSuspicion %}
                    <p class="centered type-medium">{{ 'game.status.latestMurder.suspicion' | trans({'%suspect%': app.user.player.suspicion.suspect.name}) }}</p>
                {% else %}
                    {% if game.aliveOtherPlayers(app.user.player) %}
                        <p>{{ 'game.status.latestMurder.selectSuspect' | trans }}</p>
                        <ul data-role="listview" data-inset="true">
                            {% for player in game.aliveOtherPlayers(app.user.player) %}
                                <li>
                                    <a href="{{ path('winkmurder_game_game_suspect', {id: player.id}) }}" data-ajax="false">
                                        {% include "WinkMurderGameBundle:Player:_teaser.html.twig" %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>{{ 'game.status.latestMurder.noSuspectLeft' | trans }}</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        <h1>{{ 'game.status.noMurderYet.heading' | trans }}</h1>
        <p>{{ 'game.status.noMurderYet.text' | trans }}</p>
    {% endif %}
{% endblock %}