{% extends "WinkMurderGameBundle:Layout:base.html.twig" %}

{% block pageTitle %}{{ 'administration.index.pageTitle' | trans }}{% endblock %}

{% block body %}
    {% if game %}
        <h2>{{ 'administration.index.currentGame.heading' | trans }}</h2>

        <div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d"{% if not game.murderer %} data-collapsed="false"{% endif %}>
            <h3>{{ 'administration.index.currentGame.theMurderer.heading' | trans }}</h3>
            <div>
                {% if game.players %}
                    {% if game.murderer %}
                        <p>{{ 'administration.index.currentGame.theMurderer.status' | trans({'%name%': game.murderer.name}) }} <a href="{{ path('winkmurder_game_administration_selectmurderer') }}" data-ajax="false" data-inline="true" data-mini="true" data-role="button" data-icon="delete">{{ 'administration.index.currentGame.theMurderer.change' | trans }}</a></p>
                    {% else %}
                        <p>{{ 'administration.index.currentGame.theMurderer.select' | trans }}</p>
                        <ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="{{ 'administration.index.currentGame.theMurderer.filterPlaceholder' | trans }}">
                        {% for player in game.players %}
                            <li data-filtertext="{{ player.name }}">
                                <a href="{{ path('winkmurder_game_administration_selectmurderer', {id: player.id}) }}" data-ajax="false">
                                    {% include "WinkMurderGameBundle:Player:_teaser.html.twig" %}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                    <p>{{ 'administration.index.currentGame.theMurderer.noPlayersYet' | trans }}</p>
                {% endif %}
            </div>
        </div>

        <div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d"{% if game.murderer %} data-collapsed="false"{% endif %}>
            <h3>{{ 'administration.index.currentGame.players.heading' | trans }}</h3>
            <div>
                {% if game.players %}
                    <ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="{{ 'administration.index.currentGame.players.filterPlaceholder' | trans }}">
                    {% for player in game.players %}
                        <li data-filtertext="{{ player.name }}">
                            <div class="ui-grid-a">
                                <div class="ui-block-a">
                                    {% include "WinkMurderGameBundle:Player:_teaser.html.twig" %}
                                </div>
                                <div class="ui-block-b">
                                    <form action="{{ path('winkmurder_game_administration_unauthenticate', {id: player.id}) }}" method="post" data-ajax="false"><div><input type="submit" value="{{ 'administration.index.currentGame.players.unauthenticate' | trans }}" /></div></form>
                                </div>

                                {% if player.dead %}
                                    <div class="ui-block-a">
                                        {{ 'administration.index.currentGame.players.dead' | trans }}
                                    </div>
                                    <div class="ui-block-b">
                                        <form action="{{ path('winkmurder_game_administration_toggledead', {id: player.id}) }}" method="post" data-ajax="false"><div><input type="submit" value="{{ 'administration.index.currentGame.players.resurrect' | trans }}" /></div></form>
                                    </div>
                                {% else %}
                                    {% if game.canBeKilled(player) %}
                                        <div class="ui-block-a">
                                            {{ 'administration.index.currentGame.players.alive' | trans }}
                                        </div>
                                        <div class="ui-block-b">
                                            <form action="{{ path('winkmurder_game_administration_toggledead', {id: player.id}) }}" method="post" data-ajax="false"><div><input type="submit" value="{{ 'administration.index.currentGame.players.kill' | trans }}" /></div></form>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>

                            <form action="{{ path('winkmurder_game_administration_switchphoto', {id: player.id}) }}" method="post" data-ajax="false">
                                <div class="ui-grid-a">
                                    <div class="ui-block-a">
                                        <select name="photo">
                                            <option></option>
                                            {% for photo in game.photoSet.photos %}
                                                {% if not photo is sameas(player.photo) %}
                                                    <option value="{{ photo.id }}">{{ photo.title }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="ui-block-b">
                                        <input type="submit" value="{{ 'administration.index.currentGame.players.switchPhoto' | trans }}" />
                                    </div>
                                </div>
                            </form>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {{ 'administration.index.currentGame.players.noneYet' | trans }}
                {% endif %}
            </div>
        </div>

        <div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
            <h3>{{ 'administration.index.currentGame.unusedPhotos.heading' | trans }}</h3>
            <div>
                {% if game.unusedPhotos %}
                    <ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="{{ 'administration.index.currentGame.unusedPhotos.filterPlaceholder' | trans }}">
                    {% for photo in game.unusedPhotos %}
                        <li data-filtertext="{{ photo.title }}">
                            <div>
                                {{ photo.title }}
                            </div>
                            <div>
                                <img src="{{ photo.url }}" alt="{{ photo.title }}" />
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {{ 'administration.index.currentGame.unusedPhotos.noneLeft' | trans }}
                {% endif %}
            </div>
        </div>

        <h2>{{ 'administration.index.general.heading' | trans }}</h2>
    {% endif %}

    <div data-role="collapsible" data-expanded-icon="add" data-collapsed-icon="add"{% if not game %} data-collapsed="false"{% endif %}>
        <h3>{{ 'administration.index.general.startNewGame.heading' | trans }}</h3>
        <div>
            {% if photoSets and mannersOfDeath %}
                {% if game %}<p>{{ 'administration.index.general.startNewGame.warning' | trans }}</p>{% endif %}
                <form action="{{ path('winkmurder_game_administration_startnewgame') }}" method="post" data-ajax="false">
                    <div data-role="fieldcontain">
                        <label for="photoSet">{{ 'administration.index.general.startNewGame.photoset' | trans }}</label>
                        <select name="id" id="photoSet">
                            <option></option>
                            {% for photoSet in photoSets %}
                                <option value="{{ photoSet.id }}">{{ photoSet.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <input type="submit" value="{{ 'administration.index.general.startNewGame.submit' | trans }}" data-inline="true" />
                    </div>
                </form>
            {% else %}
                {{ 'administration.index.general.noPhotosetsOrManners' | trans }}
            {% endif %}
        </div>
    </div>

    <div data-role="collapsible" data-expanded-icon="refresh" data-collapsed-icon="refresh">
        <h3>{{ 'administration.index.general.synchronizePhotosets.heading' | trans }}</h3>
        <div>
            {% if not photoSets %}
                <p>{{ 'administration.index.general.synchronizePhotosets.noneYet' | trans }}</p>
            {% else %}
                <p>{{ 'administration.index.general.synchronizePhotosets.update' | trans }}</p>
            {% endif %}
            <form action="{{ path('winkmurder_game_administration_synchronizephotosets') }}" method="post" data-ajax="false">
                <div>
                    <input type="submit" value="{{ 'administration.index.general.synchronizePhotosets.submit' | trans }}" data-inline="true" />
                </div>
            </form>
        </div>
    </div>

    <div data-role="collapsible" data-expanded-icon="refresh" data-collapsed-icon="refresh">
        <h3>{{ 'administration.index.general.mannersOfDeath.heading' | trans }}</h3>
        <div>
            <div>{{ 'administration.index.general.mannersOfDeath.status' | trans({'%count%': mannersOfDeath | length }) }}</div>
            <div><a href="{{ path('winkmurder_game_mannerofdeath_index') }}" data-role="button" data-ajax="false" data-inline="true">{{ 'administration.index.general.mannersOfDeath.link' | trans }}</a></div>
        </div>
    </div>

    <div data-role="collapsible" data-expanded-icon="gear" data-collapsed-icon="gear">
        {% include "WinkMurderGameBundle:Locale:_switch.html.twig" %}
    </div>
{% endblock %}