{% extends "WinkMurderGameBundle:Layout:base.html.twig" %}

{% block pageTitle %}Administration{% endblock %}

{% block body %}
    <h2>The murderer</h2>
    <div>
        {% if not murderer %}
            You have not selected the murderer yet!
        {% else %}
            You have currently selected {{ murderer.name }} as the murderer.
        {% endif %}
        <form action="{{ path('winkmurder_game_administration_selectmurderer') }}" method="post">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <select name="id">
                        <option></option>
                        {% for player in players %}
                            <option value="{{ player.id }}"{% if player is sameas(murderer) %} selected="selected"{% endif %}>{{ player.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="ui-block-b">
                    <input type="submit" value="Select murderer" class="ui-block-b" />
                </div>
            </div>
        </form>
    </div>

    <h2>Accounts</h2>
    <div>
        <ul data-role="listview" data-inset="true">
        {% for account in accounts %}
            {% set player = account.player %}
            <li>
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        {% include "WinkMurderGameBundle:Player:_teaser.html.twig" %}
                    </div>
                    <div class="ui-block-b">
                        {% if account is sameas(app.user) %}
                            <a href="{{ path('winkmurder_game_authentication_logout') }}" data-ajax="false">Logout</a>
                        {% else %}
                            <form action="{{ path('winkmurder_game_administration_unauthenticate', {id: account.id}) }}" method="post" data-ajax="false"><div><input type="submit" value="Unauthenticate" /></div></form>
                        {% endif %}
                    </div>

                    {% if player.dead %}
                        <div class="ui-block-a">
                            This player is dead.
                        </div>
                        <div class="ui-block-b">
                            <form action="{{ path('winkmurder_game_administration_toggledead', {id: player.id}) }}" method="post" data-ajax="false"><div><input type="submit" value="Resurrect" /></div></form>
                        </div>
                    {% else %}
                        <div class="ui-block-a">
                            This player is still alive.
                        </div>
                        <div class="ui-block-b">
                            <form action="{{ path('winkmurder_game_administration_toggledead', {id: player.id}) }}" method="post" data-ajax="false"><div><input type="submit" value="Kill" /></div></form>
                        </div>
                    {% endif %}
                </div>

                <form action="{{ path('winkmurder_game_administration_switchplayer', {id: account.id}) }}" method="post" data-ajax="false">
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <select name="to">
                                <option></option>
                                {% for player in players %}
                                    {% if not player is sameas(account.player) %}
                                        <option value="{{ player.id }}">{{ player.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="ui-block-b">
                            <input type="submit" value="Switch player" />
                        </div>
                    </div>
                </form>
            </li>
        {% endfor %}
        </ul>
        {% if not accounts %}
            There are no accounts yet.
        {% endif %}
    </div>

    <h2>Unauthenticated players</h2>
    <div>
        {% include "WinkMurderGameBundle:Player:_list.html.twig" with {players: unauthenticatedPlayers} %}
        {% if not unauthenticatedPlayers %}
            All players have authenticated.
        {% endif %}
    </div>
{% endblock %}