{% extends "WinkMurderGameBundle:Layout:_administration.html.twig" %}

{% block pageTitle %}{{ 'administration.login.pageTitle' | trans }}{% endblock %}

{% block content %}
    <h2>{{ 'administration.login.heading' | trans }}</h2>
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
    <form action="{{ path('winkmurder_game_administration_logincheck') }}" data-ajax="false" method="post">
        <div data-role="fieldcontain">
            <label for="username">{{ 'administration.login.adminForm.username' | trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div data-role="fieldcontain">
            <label for="password">{{ 'administration.login.adminForm.password' | trans }}</label>
            <input type="password" id="password" name="_password" />
        </div>

        <input type="submit" value="{{ 'administration.login.adminForm.submit' | trans }}" data-inline="true" />
    </form>
{% endblock %}
