{% extends "WinkMurderGameBundle:Common:Layout/_game.html.twig" %}

{% block pageTitle %}{{ 'investigations.index.pageTitle' | trans }}{% endblock %}

{% block content %}
    <div class="centered">
        <h2>{{ 'investigations.index.latestMurderWithPreliminaryProceedingsOngoing.heading' | trans }}</h2>
        <div>
            {% if game.latestMurderWithPreliminaryProceedingsOngoing %}
                {% include "WinkMurderGameBundle:Common:Murder/_latestMurderTeaser.html.twig" %}
                {% include "WinkMurderGameBundle:Common:Murder/_endOfPreliminaryProceedings.html.twig" %}
                {% if app.user.player.dead %}
                    <p class="type-medium centered">{{ 'investigations.index.latestMurderWithPreliminaryProceedingsOngoing.noSuspicionByDead' | trans }}</>
                {% else %}
                    {% if app.user.player.hasSuspicion %}
                        <p class="centered type-medium">{{ 'investigations.index.latestMurderWithPreliminaryProceedingsOngoing.suspicion' | trans({'%suspect%': app.user.player.suspicion.suspect.name}) }}</p>
                    {% else %}
                        {% if game.aliveOtherPlayers(app.user.player) %}
                            <p class="mrgn-btm-12">{{ 'investigations.index.latestMurderWithPreliminaryProceedingsOngoing.selectSuspect' | trans }}</p>
                            <ul class="player-list">
                                {% for player in game.aliveOtherPlayers(app.user.player) %}
                                    <li class="player">
                                        <div class="player-wrapper">
                                            <a href="{{ path('winkmurder_game_investigations_suspect', {id: player.id}) }}" data-ajax="false">
                                                {% include "WinkMurderGameBundle:Common:Player/_teaser.html.twig" %}
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{{ 'investigations.index.latestMurderWithPreliminaryProceedingsOngoing.noSuspectLeft' | trans }}</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% else %}
                <p>{{ 'investigations.index.latestMurderWithPreliminaryProceedingsOngoing.none' | trans }}</p>
            {% endif %}
        </div>
    </div>
    {% if game.murdersWithPreliminaryProceedingsDiscontinued %}
        <h2 class="centered">{{ 'investigations.index.murdersWithPreliminaryProceedingsDiscontinued.heading' | trans }}</h2>
        <div>
            <ul class="player-list">
            {% for murder in game.murdersWithPreliminaryProceedingsDiscontinued %}
                <li class="player player-dead {% if app.user.player.likesMurder(murder.victim) %}player-liked{% endif %}">
                    {% if app.user.player.canLikeMurder(murder.victim) %}
                        <a class="fav-link" href="{{ path('winkmurder_game_investigations_likemurder', {id: murder.victim.id}) }}" data-ajax="false">
                            {{ 'investigations.index.murdersWithPreliminaryProceedingsDiscontinued.favLinkText' | trans }}
                        </a>
                    {% endif %}
                    {% include "WinkMurderGameBundle:Common:Player/_teaser.html.twig" with {player: murder.victim} %}
                    {% if app.user.player.likesMurder(murder.victim) %}
                        <p class="faved">{{ 'investigations.index.murdersWithPreliminaryProceedingsDiscontinued.likeMurder' | trans }}</p>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}