{% extends "WinkMurderGameBundle:Layout:base.html.twig" %}


{% block pageTitle %}{{ 'authentication.login.pageTitle' | trans }}{% endblock %}

{% block body %}
    {% if game %}
        <h2>{{ 'authentication.login.playerSelection.heading' | trans }}</h2>
        <div>
            {% if game.unusedPhotos %}
                <ul data-role="listview" data-inset="true">
                {% for photo in game.unusedPhotos %}
                    <li><a href="{{ path('winkmurder_game_authentication_loginphoto', {id: photo.id}) }}" data-ajax="false">
                        <h3>{{ photo.title }}</h3>
                        <p><img src="{{ photo.url }}" alt="{{ photo.title }}" /></p>
                    </a></li>
                {% endfor %}
                </ul>
            {% else %}
                {{ 'authentication.login.playerSelection.noPlayersLeft' | trans }}
            {% endif %}
        </div>
    {% endif %}

    <h2>{{ 'authentication.login.adminForm.heading' | trans }}</h2>
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('winkmurder_game_authentication_logincheck') }}" data-ajax="false" method="post">
        <div data-role="fieldcontain">
            <label for="username">{{ 'authentication.login.adminForm.username' | trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div data-role="fieldcontain">
            <label for="password">{{ 'authentication.login.adminForm.password' | trans }}</label>
            <input type="password" id="password" name="_password" />
        </div>

        <input type="submit" value="{{ 'authentication.login.adminForm.submit' | trans }}" data-inline="true" />
    </form>
{% endblock %}