{% extends "WinkMurderGameBundle:Common:Layout/_base.html.twig" %}

{% block header %}
    <div data-role="header">
        <h1>{{ 'administration.header.heading' | trans }}</h1>
    </div>
{% endblock %}

{% block footer %}
    <div data-role="footer" data-id="administration" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="{{ path('winkmurder_game_locale_set', {'_locale': otherLocale}) }}" data-ajax="false" data-icon="gear">{{ ('language.' ~ otherLocale) | trans }}</a></li>
                {% if app.user %}
                    <li><a href="{{ path('winkmurder_game_administration_logout') }}" data-ajax="false" data-icon="delete">{{ 'navbar.administration.logout' | trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}