<h3>{{ 'locale.switch.heading' | trans }}</h3>

<form action="{{ path('winkmurder_game_locale_set') }}" method="post" data-ajax="false" class="fx-autosubmit">
    <fieldset data-role="controlgroup">
        {% for locale in ['en', 'de'] %}
            {% set label = (('language.' ~ locale) | trans) %}
            <input type="radio" name="locale" id="locale-{{ locale }}" value="{{ locale }}"{% if locale == app.session.locale %} checked="checked"{% endif %} />
            <label for="locale-{{ locale }}">{{ label }}</label>
        {% endfor %}
    </fieldset>
</form>
